:root {

    backdrop-filter: blur(10px); 
    --main-text-color: #969292;
    --button-bg-color: #000000;
    --button-hover-bg-color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');


body {
    background-image: url('img5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Patua One', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color:#000000;
    margin-top: 20px;
}

.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--container-border-color);
    border-radius: 8px;
    background-color: var(--container-bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    backdrop-filter: blur(150px); 
}

h2 {
    text-align: center;
    color: var(--button-bg-color);
}

.form div {
    margin-bottom: 10px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--main-text-color);
}

input, textarea, select, button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--container-border-color);
    backdrop-filter: blur(150px); 
    border-radius: 4px;
    background-color: transparent;
}

.button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background-color: var(--button-hover-bg-color);
}

#cancelButton:hover {
    background-color: rgb(101, 203, 243); 
}


#guardarButton:hover {
    background-color: rgb(101, 203, 243); 
}


.tarea {
    border: 1px solid var(--container-border-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: var(--main-bg-color);
}

.tarea.en-impedimento {
    border-color: var(--impediment-border-color);
    background-color: var(--impediment-bg-color);
}

.tarea .titulo {
    font-weight: bold;
    font-size: 1.2em;
}

.button-group {
    display: flex;
    justify-content: space-between;
}
